body {
  background-color: grey;
  padding-bottom: 5em;
}

#app-wrapper {
  display: grid;
  grid-template-rows: 100px 2fr 1fr;
  margin: 0 .5em;
  max-width: 768px;

  section {
    padding-top: 2em;
  }
}