
.debug {
  padding: 1em;
  background-color: rgba(241, 8, 8, .3);
}

[hidden] {
  display: none;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 1em;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  header {
    grid-column-start: span 12;
    display: flex;
    row-gap: 1em;
    flex-direction: column-reverse;

    h1 {
      font-size: 2em;
    }
    nav {
      background-color: white;
      ol {
        display: flex;
        justify-content: space-evenly;
        column-gap: 1px;

        li {
          flex-grow: 1;
          a {
            display: block;
            line-height: calc(3em - 5px);
            text-align: center;
            text-decoration: none;
            border-bottom: 5px;
            border-color: red;
            border-style: solid;

            &.active,
            &:hover {
              background-color: blue;
              border-color: blue;
              color: white;
            }
          }
        }
      }
    }
  }
  main {
    grid-column-start: span 12;
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    .taglist {
      display: flex;
      column-gap: 10px;

      .tag {
        flex-grow: 1;
        border-radius: 5px;
        line-height: 2em;
        text-align: center;

        &.planta {
          background-color: #9bcc50;
        }
        &.veneno {
          color: white;
          background-color: #b97fc9;
        }
      }
    }

    form {
      display: flex;
      flex-direction: row;
      column-gap: 1em;
      padding: 1em;
      align-items: flex-end;
      background-color: #333;

      fieldset {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        width: 100px;
        label {
          font-weight: bold;
          color: white;
        }
        input {
          width: 200px;
          line-height: 40px;
          font-size: 36px;
        }
      }
      button {
        height: 45px;
        width: 80px;
        font-size: 24px;
        background-color: red;
        border-radius: 8px;
        border-width: 0;
        cursor: pointer;
        color: white;
      }
      p {
        padding: 1em;
        border-radius: 10px;
        background-color: green;
        color: white;
      }
    }
    table {
      width: 100%;
      background-color: white;
      caption {
        line-height: 2em;
        font-weight: bold;
      }
      td {
        padding: 10px 10px 20px;
        a {
          text-decoration: none;
          figure {
            img {
              display: block;
              max-width: 100%;
              border-radius: 5px;
            }
            figcaption {
              margin-top: .3em;
              font-size: .8em;
              color: #919191;
            }
          }
        }
        h1 {
          margin-top: .5em;
          font-weight: bold;
        }
        p {
          margin-top: .5em;
        }
      }
    }
  }
}