body {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}


q {
  quotes: auto;
  margin: 1em;
  font-style: italic;
  display: inline-block;
}

em {
  font-style: italic;
}

ol>li {
  display: block;
  padding-right: 1em;
  list-style-type: none;
}

table tr td {
  background-color: coral;
}

table tr td:nth-child(7) {
  background-color: grey;
}

[hidden] {
  display: none;
}

/* Page components */

header {
  display: flex;
  flex-direction: column;
  gap: 1em;

  h1 {
    margin-top: 2em;
    font-size: 1em;
    font-weight: bold;
  }

  &>nav>ol {
    display: flex;

    li {
      border-right: 10px solid blue;
      margin-right: 1em;
      padding: 5px 10px;

      +li {
        background-color: chartreuse;
      }

      &:last-child {
        border-right: unset;
        a {
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }

}

article {
  display: flex;
  flex-direction: column;
  background-color: beige;
  padding: .5em;

  img {
    border: 2px solid #ccc;
    padding: .5em;
    margin: 1em 1em 0;

    +p {
      margin-top: 1em;
    }
  }

  p:has(em) {
    text-align: right;
  }
}

section {
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: bold;
  }

  .lista-comentarios {
    margin: 1em 0 0;

    li {
      display: flex;
      padding: 5px;
      border: 1px dotted black;
      height: 50px;
      background-color: cornflowerblue;
      align-items: center;
      justify-content: space-between;

      img {
        width: 90px;
        border-radius: 50%;
        border: 2px dotted black;
        background-color: white;
      }

      cite {
        display: block;
      }
      &+li {
        margin-top: 1em;
      }
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
    }
  }

  form {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1;
    gap: .5em;

    fieldset {
      display: flex;
      justify-content: space-between;
    }

    textarea {
      width: 200px;
    }
  }
}

footer {
  margin-top: 1em;
  text-align: center;
}