body {
  background-color: pink;
  padding-bottom: 10em;
}

#app-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 1fr 300px;
  margin: 0 auto;
  max-width: 1024px;

  header {
    grid-column-start: span 2;
  }

  section {
    padding: 10px 20px;
  }
}