body {
  header {
    grid-column-start: span 12;
  }

  main {
    grid-column-start: span 12;

    form {
      flex-wrap: wrap;
      gap: 1em .5em;
      
      
      

      label:first-of-type {
        width: 100%;
      }

      button {
        line-height: 2em;
        flex-grow: 1;
      }
    }

    table {
      tfoot td,
      th:nth-child(4),
      td:nth-child(4),
      th:nth-child(3),
      td:nth-child(3) {
        display: none;
      }
    }
  }

  aside {
    grid-column-start: span 12;
  }
}
